{% extends 'base.html' %}

{% block content %}
    <div id="about">
        <br>
        <h2>Адмінка проєкту e-veteran.pp.ua</h2>
        <br>
        <h3>Проект команди team-09 на хакатоні Luxoft TechGround Hackathon #3.</h3>
        <br>
        <h4>Учасники команди:</h4>
        <div style="margin-left: 42%;">
            <ul style="text-align: left;">
                <li> Дмитро Доля - backend/frontend</li>
                <li> Семенов Микола - backend/frontend</li>
                <li> Віра Абакумова - design</li>
            </ul>
        </div>
    </div>
{% endblock %}
