{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Пошук по запитам</h1>

    <form method="post">
        {% csrf_token %}

        <table>
            <tr>
                <td>
                    {{ form.veterans_assistant.label_tag }}
                    </td>
                <td>
                    {{ form.veterans_assistant }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.user_gt.label_tag }}
                </td>
                <td>
                    {{ form.user_gt }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.text_question.label_tag }}
                </td>
                <td>
                    {{ form.text_question }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.time_create.label_tag }}
                </td>
                <td>
                    {{ form.time_create }}
                </td>
            </tr>
        </table>

        <button type="submit" class="btn btn-primary">Filter</button>
    </form>

    <ul>
        {% for question in questions %}
            <li>{{ question.text_question }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}