
{% extends 'base.html' %}

{% block content %}
<style>
    .qwe {
        margin: 20px 100px;
    }
</style>
    <form method="post" class="mb-4 qwe">
        {% csrf_token %}
        <h1>Пошук по користувачам</h1>
        <div class="input-group mb-3">
            {{ form.full_name.label_tag }}
            &nbsp;
            {{ form.full_name }}
            &nbsp;
            {{ form.phone_number.label_tag }}
            &nbsp;
            {{ form.phone_number }}
            &nbsp;
            {{ form.date_of_birth.label_tag }}
            &nbsp;
            {{ form.date_of_birth }}
            &nbsp;
            {{ form.region.label_tag }}
            &nbsp;
            {{ form.region }}
        </div>

        <div class="input-group mb-3">
            {{ form.type_of_user.label_tag }}
            {{ form.type_of_user }}
        </div>

        <button type="submit" class="btn btn-primary">Filter</button>
    </form>

    <ul class="list-group qwe">
        {% for user in users_tg %}
            <li class="list-group-item">
                {{ user.full_name }}, {{ user.phone_number }}, {{ user.date_of_birth }},
                {{ user.time_create }}, {{ user.region }}, {{ user.type_of_user }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}