head {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
}

header {
    background: #1A2D20;
    height: 8%;
}

.nav-btn-mrg-r {
    margin-right: 10px;
}

.form-question-input {
    width: 100%;
}